.userList{
  font-size: 1em;
  margin-right: 1em;
  height:50em;
  margin-top: 4em;
  margin-left: 200em;
  text-align:center;
  background-color: white;
  border-radius: 5%;
  opacity:.9;
  box-shadow: 10px 5px 5px crimson;
  height: 20%;
}

.widgetCal{
  text-align: center;
  background-color: black;
  box-shadow: 10px 5px 5px crimson;
  border-radius: 5%;
  opacity:.9;
  height: 15em;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
}