.userList{
  background-color: white;
  box-shadow: 10px 5px 5px crimson;
  border-radius: 5%;
  opacity:.9;
  text-align: center;
  height: auto;
  margin-top: 2em;
  margin-left: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.user{
  font-size: 1,5em;
  font-weight:bold;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  margin-bottom: 0.5em;
}

.userForm{
  box-shadow: 10px 5px 5px crimson;
  border-radius: 5%;
  opacity:.9;
  text-align: center;
  margin-top: 2.5em;
  padding-top: 1em;
}

.buttonCSS{
  font-size: 0.75em;
  background-color: cornflowerblue;
  color: white;
  width: 60%;
  border-radius: 5%;
}

.textStyle{
  font-size:0.75em;
}