.App {
  text-align: center;
}


.menuBar{
  font-size: 1em;
  background-color: blue;
  width: auto;
  height: 5em;
  text-align: center;
  margin-top: 1em;

}

.mainWidget{
  font-size: 1em;
  margin-right: 1em;
  height:30em;
  background-color: grey;
  margin-top: 1em;
}

.widgetList{
  background-color: white;
}